<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flousy"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.example.flousy.SplashScreenActivity"
            android:label="@string/activity_splashscreen_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.flousy.LogInActivity"
            android:label="@string/activity_login_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.example.flousy.SignUpActivity"
            android:label="@string/activity_signup_name"
            android:parentActivityName="com.example.flousy.LogInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.LogInActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.RestorePasswordActivity"
            android:label="@string/activity_restorepassword_name"
            android:parentActivityName="com.example.flousy.LogInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.LogInActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.MenuActivity"
            android:label="@string/activity_menu_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.example.flousy.NewActivity"
            android:label="@string/activity_new_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.NewArticleActivity"
            android:label="@string/activity_article_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.example.flousy.ConsultActivity"
            android:label="@string/activity_consult_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.FinancesActivity"
            android:label="@string/activity_finances_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>


        <activity
            android:name="com.example.flousy.ConsultArticleActivity"
            android:label="@string/activity_finances_name"
            android:parentActivityName="com.example.flousy.FinancesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.FinancesActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.FriendsActivity"
            android:label="@string/activity_friends_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.OffersActivity"
            android:label="@string/activity_offers_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.SettingsActivity"
            android:label="@string/activity_settings_name"
            android:parentActivityName="com.example.flousy.MenuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.flousy.MenuActivity" />
        </activity>

        <activity
            android:name="com.example.flousy.SearchResultsActivity"
            android:label="@string/activity_settings_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity"/>

    </application>

</manifest>
